.contact_section {
  max-width: 1000px;
  margin: 0 auto;
}

.contact_section h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.contact_section p {
  width: 975px;
  height: 72px;
  top: 220px;
  left: 188px;
}
